/* This file is for development purpose */

.navbar {
    background-color: rgb(255, 107, 107);
}

.nav {
    background-color: green;
}

.nav .nav-item {
    border: 1px #000 solid;
}

.nav-links .nav-link {
    border: .06em #000000 solid;
    background-color: #ffffff;
}